@import url('https://fonts.googleapis.com/css?family=Dosis');
#Home {
    height: 461px;
    background-color: #C74547;
    margin-top: -22px;
}
* {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.logo_left {
    margin-top: -8px;
}
.logo_center {
    margin-top: -19px;
    margin-bottom: -19px;
}
.nav {
    font-family: Dosis;
}
@media (min-width: 768px){
    .navbar-nav{
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    }
    .navbar-brand {
        display: none;
    }
    .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    }
    .dropdown-menu {
    margin-left: 30px;
    }
    .caret {
        display: none;
    }
    .nav_pad {
    padding-right: 20px;
    padding-left: 20px;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        display: inherit;
    }
    .logo_center{
        display: none;
    }
    .logo_center_fix{
    margin-top: -20px;        
    }
    
}
