@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');

* {
    margin: 0px;
    padding: 0px;
    float: none;
}
body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}
#mySVG {
  position: relative;
}
.percent_60 {
    width: 60%;
    float: left;
}
.percent_40 {
    width: 40%;
    float: left;
}
#page_1 {
    background-color: #ecf0f1;
    height: 400px;
}
#page_2 {
    background-color: #FFFFFF;
    height: 400px;
}

h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
}
h2 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
}
.page_padding {
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}
.percent_padding {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.color_green {
    color: #36b371;
}
